services:
  minetracker-backend:
    image: ghcr.io/minetrackergg/minetracker-backend:latest
    environment:
      DEPLOYMENT_MODE: release
      HTTP_PORT: 8000
      FRONTEND_URL: http://minetracker-frontend:3000

      MONGO_URI: mongodb://localhost:27017/
      INFLUXDB_URL: http://localhost:8086
      INFLUXDB_TOKEN: token
      INFLUXDB_ORG: minetracker
      INFLUXDB_BUCKET: minetracker_data
    restart: unless-stopped
  minetracker-frontend:
    image: ghcr.io/minetrackergg/minetracker-frontend:latest
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: "1"
      NEXT_PUBLIC_WEBSOCKET_URL: "ws://minetracker-backend:8001"
      NEXT_PUBLIC_API_URL: "http://minetracker-backend:8000/"
    restart: unless-stopped
